{% load tailwind_filters %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="container mx-auto">
    <h1 class="text-3xl mb-3 font-bold underline">
        Django PowCaptcha example
    </h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="relative bg-slate-900 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 text-sm text-white font-semibold h-12 px-6 rounded-lg flex items-center pointer-events-auto" disabled>
            Send
        </button>
    </form>
</div>
</body>
</html>
